Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
  ClangTidy:
    Add: [misc-include-cleaner]
    CheckOptions:
      StrictMode: true

CompileFlags:
  Add: [-std=c++17, -Wall, -Wextra, -Wsign-conversion, -Wpedantic, -pedantic-errors, -Winvalid-pch]
